@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;700&display=swap");

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$font: "Alata", sans-serif;
$font2: "Josefin Sans", sans-serif;
$gray: hsl(0, 0%, 55%);
$darkGray: hsl(0, 0%, 41%);
